{% extends "base.html" %}
{% block content %}

<h1>Books:</h1>

{% if books %}
<table class="customTable">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Views</th>
    </tr>
    </thead>
    <tbody>
    {% for book in books %}
    <tr>
        <td>
            {{ book.id }}
        </td>
        <td>
            {{ book.title }}
        </td>
        <td>
            {{ book.author }}
        </td>
        <td>
            {{ book.views }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<h2> Sorry, no books in DB.</h2>
{% endif %}

{% endblock %}
